<%- include("../partials/head" , {title:"Carts Page"}) %>
<%- include("../partials/header") %>
<h1 class="text-center">Carts Page <span style="float: right; margin-right: 1rem; font-size:15px ;" class="my-2">Sub Total: <span id="total">0</span></span></h1>

<div class="container">
    <div class="row">
    <% for(prod of data){ %> 
        <div class="card col-lg-3 mx-2 my-2">
            <div class="card-body">
                <img style="height: 100px;" src="<%= prod.product.image  %>" alt="">
                <h5 class="card-title"><%= prod.product.name  %></h5>
                <p class="card-text" style="font-weight: bold ;">Quantity: <%= prod.quantity%></p>
                <p> Price: <b class="price"><%= prod.product.price * prod.quantity   %> </b></p>
                <form action="/orders" method="post">
                    <input type="text" name="cartid" value="<%= prod.id %>" hidden>
                    <input type="text" name="productid" value="<%= prod.product.id %> " hidden>
                    <button type="submit" class="btn btn-success">Order Now</button>
                </form>
                <!-- <a href="/orders/<%= prod.id %> " class="btn btn-success outline mb-2">Order Now</a> -->
        </div>
        </div>
        <% } %> 
  
</div>

<script>
    var price = document.querySelectorAll("b")
    var subtotal = document.getElementById("total")
    var Total = 0
   price.forEach(function(price){

    var eachPriceParsed = parseInt(price.innerHTML)

    Total = Total + eachPriceParsed

    // console.log(n.innerHTML)


   })

   subtotal.textContent = Total
   
</script>
</div>
<%- include("../partials/footer") %>

