<%- include("../partials/head" , {title:"All Product"}) %> 
</head>
<body>

<%- include("../partials/header") %> 
<h1>All Products</h1>

<ul>
    <% for (data of alldata){%>
    <li><%= data.name%> | <a href="/products/<%= data.id%>">Show</a></li>
    <%}%>
</ul>
<!-- <%= locals.userid %>  -->
<%- include("../partials/footer") %> 