<%- include("../partials/head" , {title:"Create Product"}) %>
</head>
<body> 
<%- include("../partials/header") %> 

<main class="container mt-4 w-50" >
<form action="/products" method="post">
    <h1 class="text-center">Create Products</h1>
    <div class="form-group">
        <input type="text" name="name" placeholder="name" class="form-control"/>
    </div>
    <br>
    <div  class="form-group">
        <input type="text" name="price" placeholder="price" class="form-control">
    </div>
    <br>

    <div  class="form-group">
        <textarea name="description" id="" cols="30" rows="10" placeholder="description" class="form-control" style="max-height: 12vh !important;"></textarea>
    </div>
    <br>

    <div  class="form-group">
        <input type="text" name="image" placeholder="image" class="form-control">
    </div>
    <br>
    <div class="form-group">
    <select name="category" id="" class="form-control">
        <% for(cat of category){%>
        <option value="<%=cat%>"><%=cat%></option>
        <%}%>
    </select>
</div>

    <button type="submit" class="btn btn-success" style="margin-bottom: 10rem">Create Product</button>
</form>
</main>

<%- include("../partials/footer")%>


