<h1>Show Page</h1>

<h2><%=data.name%></h2>
<p><%= data.description%></p>

<a href="/products/<%= data.id%>/edit">Update this Product</a>

<form action="/products/<%= data.id%>?_method=DELETE" method="post">
    <button type="submit">Delete</button>
</form>
 
<form action="/addtocart/<%= locals.userid %>" method="post">
    <input type="text" value="<%= data.id %>" name="prodid" hidden>
    <button type="submit">Add to Cart</button>
    <%= locals.userid %> 
</form>


