<%- include("../partials/head" , {title:"Show Product"}) %>

<body style="font-family: 'poppins';">
<%- include("../partials/header") %>

<h1 class="text-center">Show Page</h1>
<div class="container text-center">
<div class="row">
<div class="card col-lg-3">
<div class="card-body mx-3 text-center">
<img style="height: 100px ;" src="<%= data.image %> " alt="no img">
<h5 class="card-title"><%=  data.name %> </h5>
<p><%= data.description%></p>
<a href="/products/<%= data.id%>/edit">Update this Product</a>

<form action="/products/<%= data.id%>?_method=DELETE" method="post">
    <button type="submit" class="btn btn-secondary">Delete</button>
</form>
 
<form action="/addtocart/<%= locals.userid %>" method="post">
    <input type="text" value="<%= data.id %>" name="prodid" hidden>
    <% if(data.quantity <= 0){ %> 
         <p>Out of stock</p>
        <% }else{%> 
    <button type="submit" class="btn btn-primary my-2">Add to Cart</button>
    <%= locals.userid %> 
    <% } %> 
</form>
</div>
</div>
</div>
</div>

<%- include("../partials/footer")%>

